<h1>簡易會員系統</h1>

<% if (username) { %>
  HELLO,<%= username %> 
  <a href="/logout">登出</a>
  <form method="POST" action="/comments">
    <textarea name="content"></textarea>
    <input type="submit" />
  </form>

<% } else { %>
  <a href="/register">註冊</a>
  <a href="/login">登入</a>
<% } %>

<!-- 我們這邊用forEach語法 -->

<% comments.forEach(function(comment) { %>
  <div>
    <h2><%= comment.nickname  %> </h2>
    <p><%= comment.content  %> </p>
  </div>
<% }) %> 