<h1>註冊頁面</h1>
<%= errorMessage %> 
<form method="POST" action="/register">
  <div>username:<input type="text" name="username" /></div>
  <div>nickname:<input type="text" name="nickname" /></div>
  <div>password:<input type="text" name="password" /></div>
  <input type="submit" />
</form>